body {
  font-family: $font_body;
  line-height: 1.4;
}

h1,
h2,
h3 {
  font-family: $font_brand;
  font-weight: 200;
}

h1 {
  @include font-size(38);
}

h2 {
  @include font-size(36);
  color: $red;
}

small {
  @include font-size(12);
}

// Links
.link-plain {
  color: $gray_dark;
  text-decoration: none;
}