.code-highlight {
  background: #fff;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid $gray_light;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 2em; 
  padding: 1em;
  text-align: left;
  width: 440px;
}